---
import type { CollectionEntry } from 'astro:content';
import SectionTitle from '@/components/content/SectionTitle.astro';
import ContentBlock from '@/components/content/ContentBlock.astro';
import ContentCompactRow from '@/components/content/ContentCompactRow.astro';

interface Props {
  entries: CollectionEntry<'writing'>[];
  heading: string;
  variant?: 'normal' | 'compact';
}

const { entries, heading, variant = 'normal' } = Astro.props;
const EntryComponent = variant === 'compact' ? ContentCompactRow : ContentBlock;
---

<SectionTitle>
  {heading}
</SectionTitle>
<ol class:list={['m-0 max-w-4xl list-none p-0', variant === 'compact' && 'py-4']}>
  {
    entries.map((entry) => (
      <li>
        <EntryComponent entry={entry} />
      </li>
    ))
  }
</ol>
