---
import type { CollectionEntry } from 'astro:content';
import ContentBlock from '@/components/content/ContentBlock.astro';
import SectionTitle from '@/components/content/SectionTitle.astro';

interface Props {
  entries: CollectionEntry<'writing'>[];
  title: string;
  description?: string;
  animated?: boolean;
}

const { entries, title, description, animated = false } = Astro.props;
---

<section class="site-container py-6 sm:py-8">
  <SectionTitle muted as="h1" animated={animated}>{title}</SectionTitle>
  {
    description && (
      <div class="pb-8 sm:pb-10">
        <p class="max-w-3xl text-xl leading-relaxed">{description}</p>
      </div>
    )
  }

  <ol class="m-0 max-w-4xl list-none p-0">
    {
      entries.map((entry) => (
        <li>
          <ContentBlock entry={entry} />
        </li>
      ))
    }
  </ol>
</section>
