.swas-hero {
	min-height: calc(100vh - 3.25rem);
	width: 100vw;
	align-items: center;
	justify-content: flex-start;
	background: url('../img/bg.jpg') no-repeat scroll center center;
	background-size: cover;
	padding: 10vmin;
	display: flex;
	align-content: center;
	flex-flow: row wrap;
	& &__title {
		color: #ffffff;
		margin-bottom: 4rem;
		flex: 0 0 100%;
	}
	& &__author {
		color: #ffffff;
		font-family: 'Oregano', sans-serif;
		line-height: 1.1;
		font-size: 3.5rem;
		letter-spacing: 8px;
	}
	& &__tagline {
		color: #ffffff;
		font-size: 1.25rem;
		margin-top: -0.25rem !important;
		a {
			font-family: 'Oregano', sans-serif;
			font-weight: bold;
			letter-spacing: 2px;
			// font-style: italic;
			background: rgba(0, 0, 0, 0.3);
			padding: 2px 14px;
			border-radius: 4px;
			// color: darken(#cb3340, 10);
			color: #ffffff;
			&:hover {
				// color: darken(#cb3340, 15);
				color: rgba(255, 255, 255, 0.8);
			}
		}
	}
	& &__socials {
		flex: 0 0 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 30rem;
	}
	& &__social {
		color: #ffffff;
		position: relative;
		font-size: 3rem;
		width: 6rem;
		height: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 300ms ease-out;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			border-radius: 100%;
			display: block;
			transition: transform 300ms ease-out;
		}
		&::before {
			border: 1px solid rgba(255, 255, 255, 0.5);
		}
		&::after {
			background: rgba(255, 255, 255, 0.5);
			transform: scale(0);
		}
		&:hover {
			transform: rotate(5deg) scale(1.2);
			color: #ffffff;
			&::before {
				transform: scale(0);
			}
			&::after {
				transform: scale(1.1);
			}
		}
	}
	@media screen and (min-width: 934px) {
		& &__author {
			font-size: 8vw;
		}
		& &__tagline {
			font-size: (1.25/3.5 * 8) * 1vw;
		}
		& &__socials {
			max-width: 40rem;
		}
		& &__social {
			font-size: 4rem;
			width: 8rem;
			height: 8rem;
		}
	}
	@media screen and (min-width: 1650px) {
		& &__author {
			font-size: 8rem;
		}
		& &__tagline {
			font-size: (1.25/3.5 * 8) * 1rem;
		}
		& &__socials {
			max-width: 50rem;
		}
		& &__social {
			font-size: 5rem;
			width: 10rem;
			height: 10rem;
		}
	}
}
